<div class="wrapper">
        <form #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="id" value="service.formData.id" />
    <div class="form-group">
        <label>Vlasnika Kartice</label>
        <input type="text" class="form-control form-control-lg" placeholder = "Ime i Prezime Vlasnika" name = "nazivVlasnikaKartice" 
        #nazivVlasnikaKartice = "ngModel" [(ngModel)] = "service.formData.nazivVlasnikaKartice">
    </div><br>
    <div class="form-group">
        <label>Broj Kartice</label>
        <input type="text" class="form-control form-control-lg" placeholder = "XXXXXXXXXXXXXXXX" name = "brojKartice" 
        #brojKartice = "ngModel" [(ngModel)] = "service.formData.brojKartice">
    </div><br>
    <div class="form-group">
        <label>Datum Isteka Kartice</label>
        <input type="text" class="form-control form-control-lg" placeholder = "MM/GG" name = "datumIstekaKartice" 
        #datumIstekaKartice = "ngModel" [(ngModel)] = "service.formData.datumIstekaKartice">
    </div><br>
    <div class="form-group">
        <label>CVV</label>
        <input type="password" class="form-control form-control-lg" placeholder = "XXX" name = "cvv" 
        #cvv = "ngModel" [(ngModel)] = "service.formData.cvv">
    </div><br>
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit">POTVRDI</button>
    </div>
        </form>
    
</div>