<form #form="ngForm" (submit)="onSubmit(form)">    
    <div class="form-group"><br>
        <label style="font-size: medium">KORISNIČKO IME</label>
        <input type="text" class="form-control form-control-lg" #KorisničkoIme="ngModel" name="userName" style="font-size: x-larger;" [(ngModel)]="service.formData.userName">
    </div><br>
    <div class="form-group">
        <label style="font-size: medium">Password</label>
        <input type="password" class="form-control form-control-lg" #Password="ngModel" name="password" style="font-size: x-larger;" [(ngModel)]="service.formData.password">
    </div><br>
    <div class="form-row text-center">
        <div>
            <button type="submit" class="btn btn-primary btn-lg btn-block position-center" style="font-size: x-large">PRIJAVI SE</button> 
        </div><br>
    </div> 
    <router-outlet></router-outlet>
</form>
